#drivers {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

#drivers-add {
  margin-left: 35px;
  height: 100px;
  width: 99%;
  margin-top: 25px;
  display: flex;
  background-color: white;
  justify-content: flex-end;
}

#drivers-add button {
  margin-right: 20%;
  cursor: pointer;
  height: 50%;
  width: 5%;
  background-color: transparent;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  color: black;
}

#drivers-add button:hover {
  cursor: pointer;
  color: black;
}

#drivers-add img {
  height: auto;
  width: auto;
  max-width: 70%;
  max-height: 90%;
}

#drivers-table {
  width: 98%;
  margin: auto;
}
