.payroll-big {
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

.payroll {
  width: 75%;

  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
  border: solid #ccc 1px;
  padding-bottom: 20px;
  margin-top: 30px;
}

.payroll-items {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: 9%;
  width: 80%;
  border-bottom: solid #ccc 0.5px;
}

.payroll-item {
  padding-left: 3px;
  padding-right: 25px;
}

.payroll-title {
  font-size: 25px;
}

.payroll-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payroll-button {
  color: green;
  height: 30px;
  width: 60px;
  border-radius: 5px;
}

.payroll-button:hover {
  cursor: pointer;
}

.payroll-item-name {
  font-weight: bold;
  width: 150px;
  margin-bottom: 5px;
}

.payroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
