#sidebar{
    /* border: solid black 1px; */
    height: 100%;
    width: 100%;
    background-color: green;
    /* font-family: "Open Sans",Arial,sans-serif; */
}

#sidebar-buttons{
    /* margin-top: 50px; */
    padding-top: 60px;
}

#sidebar button{
    background-color: transparent;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border: none;
    font-size: 25px;
    color: white;
    outline: none;
    font-family: Helvetica Neue;
    transition: color 0.2s;
}

#sidebar button:hover{
    
    color: #c4c5c6;
    cursor: pointer;
    /* border-bottom: solid #ccc 1px; */
}

/* #sidebar button p:hover{
    
    color: #ccc;
    cursor: pointer;
    border-bottom: solid #ccc 1px;
} */

#sidebar button:visited{
    
    border-bottom: solid black 3px;
}