#sidebar{
    border: solid black 1px;
    height: 100%;
    width: 100%;
    background-color: #5A79A5;
}

#sidebar-buttons{
    margin-top: 50px;
}

#sidebar button{
    background-color: transparent;
    height: 50px;
    width: 100%;
    margin-top: 15px;
    border: none;
    font-size: 25px;
    color: white;
    outline: none;
    font-family: Helvetica Neue;
}

#sidebar button:hover{
    
    color: #ccc;
}

#sidebar button:visited{
    
    border-bottom: solid black 3px;
}