#sidebar {
  height: 100%;
  width: 100%;
  background-color: #eaebec;
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
  border: solid #ccc 0.5px;
}

#sidebar-buttons {
  padding-top: 60px;
}

#sidebar-buttons p {
  padding-top: 60px;
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

#sidebar button {
  background-color: transparent;
  height: 50px;
  width: 100%;
  margin-top: 15px;
  border: none;
  font-size: 25px;
  color: black;
  outline: none;
  font-family: Helvetica Neue;
  transition: color 0.2s;
}

#sidebar button:hover {
  color: #c4c5c6;
  cursor: pointer;
}

#sidebar button:visited {
  border-bottom: solid black 3px;
}
