#dispatch1 {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

#dispatch2 {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

.dispatch-container {
  display: flex;
  justify-content: center;
}

.dispatch{
    /* border: solid yellow 1px; */
    width: 300px;
}

.dispatch-title {
  border-bottom: solid #ccc 1px;
  height: 40px;
  background-color: #eaebec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dispatch1-body {
  border: solid #ccc 1px;

  width: 66%;
  margin-top: 40px;
}

.dispatch-item {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.dispatch-input {
  margin-top: 8px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.dispatch-input input {
  margin-bottom: 23px;
  width: 87%;
  height: 22px;
}

.dispatch-submit-button {
  margin-top: 30px;
  margin-left: 30%;

  color: green;
  border-radius: 5px;
  height: 36px;
  width: 80px;
  font-size: 13px;
}

.dispatch-submit-button:hover {
  cursor: pointer;
}

.select-driver {
  margin-top: 40px;
  border: solid #ccc 1px;
  width: 50%;
  /* margin-left: 80px; */
}

.dispatch-button {
  color: green;
  border-radius: 5px;
  width: 70px;
  height: 25px;
}

.dispatch-button:hover {
  cursor: pointer;
}

.dispatch-driver {
  border-bottom: solid 0.5px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.display-drivers {
}

.dispatch-container{
    padding-top: 20px;
    /* border: solid red 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.display-select-driver {
  height: 40px;
  font-size: 22px;
  border: solid #ccc 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaebec;
}

.job-details {
  border: solid #ccc 1px;
  /* margin-left: 80px;
  margin-top: 25px; */
  /* width: 40%; */
}

.job-detail {
  border-bottom: solid 0.5px #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.name-dispatch {
  display: flex;
  width: 110px;
  font-size: 20px;
}

.dispatch-first {
  padding-right: 4px;
}

.dispatch-next {
  border-radius: 5px;
  color: green;
  height: 36px;
  width: 80px;
  float: right;
  margin-right: 55px;
  margin-bottom: 25px;
  font-size: 13px;
}

.dispatch-next:hover {
  cursor: pointer;
}
